<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animator._ObjectAnimator">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>
        <activity android:name=".animator._ValueAnimator">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>
        <activity android:name=".animator.MyGestureDetector">

        </activity>
        <activity android:name=".animator.MyAnimation" />
        <activity android:name=".widget.KeyBoardActivity" />
        <activity android:name=".ExpandableListActivity" />
        <activity android:name=".binder.TestBinderActivity"
            android:process=":clint"/>

        <service
            android:name=".binder.TestBinderService"
            android:exported="true"
            android:process=":service">
            <intent-filter>
                <action android:name="com.example.testlink.binder" />
            </intent-filter>
        </service>

    </application>

</manifest>